<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CnxForCreateTable" connectionString="Data Source=.\;Initial Catalog=tempdb;User Id=sa;Password=123456" />
  </connectionStrings>
  <appSettings>
    <add key="SessionServiceConfigDirectory" value="C:\Dev\SessionService\Homelidays.Web.SessionService" />
  </appSettings>
</configuration>