<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CnxForCreateTable" connectionString="Data Source=.\;Initial Catalog=tempdb;User Id=sa;Password=123456"/>
  </connectionStrings>
  <appSettings>
    <add key="SessionServiceConfigDirectory" value="C:\Projects\Hd\Dev\DotNet\Libraries\LibrariesShared\SessionService\Homelidays.Web.SessionService"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
